.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  width: 1000px;
}
.newsBox {
  background: rgba(204, 201, 212, 0.3);
}
.titleBox {
  background-color: #ed7200;
  padding: none;
  text-align: left;
}

ul.App {
  list-style-type: none;
}

ul.titleBox {
  list-style-type: none;
  height: 20px;
}

.listInfo {
  display: inline;
  margin-left: -50px;
  padding: 30px;
}
.fa-hacker-news {
  position: relative;
  right: 35px;
  top: 2px;
  border: 1px solid white;
  height: 14px;
}
.lowerTagList {
  display: inline;
  position: relative;
  margin-left: 40px;
}
.articleName {
  position: relative;
  right: 280px;
  margin-left: 120px;
}
.website {
  position: relative;
  right: 530px;
}
